#tag_cloud {
	
	line-height: 1.2em;  
/*	.s { font-size: 0.8em; }
	.m { font-size: 1.2em; }
	.l { font-size: 1.8em; }*/
	font-size: 0.55em;
	margin-top: 8px;
  	padding: 8px;
  	text-align: center;
}

/*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

h1 {
	color:  #00AEEF

}

h2 {
	color:  #00AEEF

}

span {
	font-size: 150%;
}

h3 {
	color:  #00AEEF;
	font-size: 1.2em;
}

body {
	background: #CCCCCC;
	font: 16px/24px "Lato", Calibri, Arial, sans-serif;
}

a {
  color: #5ABC3C;
  img { border: none; }
}

input {
      border: 0;
      padding: 10px;
      font-size: 18px;
 }

input[type="submit"] {
      background: #A5CD39;
      color: white;
}

/*ul {
	padding: 10px;
}

 li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }*/